In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load the dataset
data = pd.read_csv('/content/Students Performance.csv')

# Show first 5 rows
data.head()

   Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0          65             86             67               78            2021
1          64             85             71               80            2019
2          76             77             77               84            2021
3          80             76             75               75            2021
4          63             91             62               90            2019

In [3]:
# Check shape (rows, columns)
data.shape

(399, 5)

In [4]:
# Check column names
data.columns

Index(['Math_Score', 'Reading_Score', 'Writing_Score', 'Placement_Score',
       'Club_Join_Date'],
      dtype='object')

In [5]:
# Check data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Math_Score       399 non-null    int64
 1   Reading_Score    399 non-null    int64
 2   Writing_Score    399 non-null    int64
 3   Placement_Score  399 non-null    int64
 4   Club_Join_Date   399 non-null    int64
dtypes: int64(5)
memory usage: 15.7 KB

**CODE CELL 4 â€“ Data Cleaning (Using Pandas Only)**

In [6]:
# Check missing values
data.isnull().sum()

Math_Score         0
Reading_Score      0
Writing_Score      0
Placement_Score    0
Club_Join_Date     0
dtype: int64

In [8]:
# Select required columns
data = data[['Reading_Score', 'Writing_Score', 'Math_Score']]
data.head()

   Reading_Score  Writing_Score  Math_Score
0             86             67          65
1             85             71          64
2             77             77          76
3             76             75          80
4             91             62          63

**Split Data*

In [9]:
from sklearn.model_selection import train_test_split

X = data[['Reading_Score', 'Writing_Score']]
y = data['Math_Score']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [10]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

print("Model trained successfully")

Model trained successfully

**Prediction (USE CASE DEMO)**

In [11]:
# Example prediction
prediction = model.predict([[70, 75]])
print("Predicted Math Score:", prediction)

Predicted Math Score: [79.27959942]

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

*Model Accuracy*

In [12]:
from sklearn.metrics import r2_score

y_pred = model.predict(X_test)
accuracy = r2_score(y_test, y_pred)

print("Model Accuracy:", accuracy)

Model Accuracy: -0.0008792869351166299